{% extends "base.html" %} {% block content %}
<div class="flexbox">
  <div class="searchbox">
    <h1>StockNow</h1>
    <h3>Begin Searching Live Stocks Statistics Below</h3>
    <div>
      <form action="" action="GET" next="" >
        {% if error %}
        <label for="search">Invalid Stock Name Please Try Again</label>
        {% endif %}
        <input
          type="text"
          placeholder="Search Stocks Now. . ."
          name="search"
          required
          id="searchbox"
        />
      </form>
    </div>
  </div>
</div>
<div class="bottom">
  {% if saved %}
    <h1 class="header">Favourites</h1>
    <table class="table table-hover" id="fav-table">
      <thead class="thead-dark">
        <tr class="text-right">
          <th scope="col" class="text-center">Name</th>
          <th scope="col">Daily High</th>
          <th scope="col">Daily Low</th>
          <th scope="col">Current</th>
          <th scope="col">Change</th>
          <th scope="col">Percent Change</th>
          <th scope="col">Last Updated</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody class= "text-right">
        {% for stock in saved %}
        <tr>
          <th class="text-center" scope="row">{{stock.identifier}}</th>
          <td class="green">{{stock.day_high}}</td>
          <td class="red">{{stock.day_low}}</td>
          <td class="font-weight-bold">{{stock.current}}</td>
          {% if stock.change >= 0 %}
          <td class="green">{{stock.change}}</td> 
          <td class="green">{{stock.pchange}}</td>
          {% else %} 
          <td class="red">{{stock.change}}</td> 
          <td class="red">{{stock.pchange}}</td>
          {% endif %}
          <td>{{stock.last_update}}</td>
          <td>
          {% if user in stock.favourites.all %}
          <a href="{% url 'favourite' stock.identifier %}" class="btn btn-primary">UNFAVOURITE</a>
          {% else %} 
          <a href="{% url 'favourite' stock.identifier %}" class="btn btn-secondary">FAVOURITE</a>
          {% endif %}
          </td>
        </tr>   
      {% endfor %}   
      </tbody>
    </table>
    {% endif %}
    {% if stocks %} 
    <table class="table table-hover mt-5" id="fav-table">
      <thead class="thead-dark">
        <tr class="text-right">
          <th scope="col" class="text-center">Name</th>
          <th scope="col">Daily High</th>
          <th scope="col">Daily Low</th>
          <th scope="col">Current</th>
          <th scope="col">Change</th>
          <th scope="col">Percent Change</th>
          <th scope="col">Last Updated</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody class= "text-right">
        {% for stock in stocks %}
        <tr>
          <th class="text-center" scope="row">{{stock.identifier}}</th>
          <td class="green">{{stock.day_high}}</td>
          <td class="red">{{stock.day_low}}</td>
          <td class="font-weight-bold">{{stock.current}}</td>
          {% if stock.change >= 0 %}
          <td class="green">{{stock.change}}</td> 
          <td class="green">{{stock.pchange}}</td>
          {% else %} 
          <td class="red">{{stock.change}}</td> 
          <td class="red">{{stock.pchange}}</td>
          {% endif %}
          <td>{{stock.last_update}}</td>
          <td>
          {% if user in stock.favourites.all %}
          <a href="{% url 'favourite' stock.identifier %}" class="btn btn-primary">UNFAVOURITE</a>
          {% else %} 
          <a href="{% url 'favourite' stock.identifier %}" class="btn btn-secondary">FAVOURITE</a>
          {% endif %}
          </td>
        </tr>   
      {% endfor %}   
      </tbody>
    </table>
    {% endif %}
      <!-- still need to add code for search result  -->
  {% endblock content %}
</div>
