@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

* {
  font-family: Roboto, sans-serif;
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

.flexbox {
  background: linear-gradient(155deg, #55c7ed, #2bb3e0, #3bc1ed);
  background: url(./StockLogo.jpeg);
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.search {
  margin: 20px;
}

.search > h3 {
  font-weight: normal;
}

.search > h1,
.search > h3 {
  color: white;
  margin-bottom: 15px;
  text-shadow: 0 1px #0091c2;
}

.search > div {
  display: inline-block;
  position: relative;
  filter: drop-shadow(0 1px #0091c2);
}

.search > div:after {
  content: "";
  background: white;
  width: 4px;
  height: 20px;
  position: absolute;
  top: 40px;
  right: 2px;
  transform: rotate(135deg);
}

.search > div > form > input {
  color: white;
  font-size: 16px;
  background: transparent;
  width: 25px;
  height: 25px;
  padding: 10px;
  border: solid 3px white;
  outline: none;
  border-radius: 35px;
  transition: width 0.5s;
}

.search > div > form > input::placeholder {
  color: #efefef;
  opacity: 0;
  transition: opacity 150ms ease-out;
}

.search > div > form > input:focus::placeholder {
  opacity: 1;
}

.search > div > form >  input:focus,
.search > div > form > input:not(:placeholder-shown) {
  width: 250px;
}

.stockcard { 
  margin: 1% 25% 0% 25%;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  border: 5px solid white;
  border-radius: 25px;
  background-color: rgba(255,255,255,1);
  padding: 0.5%;
}

section { 
  display: flex;
  justify-content: space-evenly;
}

.btn { 
  padding: 0.5%;
  color: black;
  background-color: 9ccdea;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 25px;
  box-shadow: blueviolet;
}

.btn2 { 
  padding: 0.75%;
  background-color: #9ccdea;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 25px;
  box-shadow: blueviolet;
  align-self: center;
  margin-top: 1%;
  color: black;
}

p { 
  font-weight: bold;
}

.green { 
  color: green;
}

.red { 
  color: red;
}

.header { 
 /* background-color: #62a8d1; */
  text-align: center;
}

.pagination { 
  height: 4%;
}

.page-links { 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8%;
}

.page-links p { 
  padding: 0 10px 0 10px;
}


